@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  overflow: hidden;
}

/* Ensure to apply this to the CSS file that is imported into your app */
.map-container {
  position: relative;
  width: 100%;
  height: 105vh; /* Adjust height to be taller than viewport */
  overflow: hidden; /* Prevent scrolling */
}

.custom-popup .mapboxgl-popup-close-button {
  width: 20px; 
  height: 20px; 
  border-radius: 10%;
  margin: 2px;
}